.photo-grid {
    margin: 64px 16px 0;
    display: -ms-grid;
    display: grid;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 88px 24px 0;
        -ms-grid-columns: 1fr 16px 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }    
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 92px 48px 0;
        -ms-grid-columns: 1fr 14px 1fr 14px 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }    
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        margin-left: auto;
        margin-right: auto;
        -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }    
}