.places {
    margin-top: 64px;
    display: -ms-grid;
    display: grid;
    gap: 50px;
}

@media screen and (min-width: 768px) {
    .places {
        margin: 88px 24px 0;
        gap: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        margin: 92px 48px 0;
        gap: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        margin: 92px 148px 0;
    }
}