.cover__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    white-space: pre-line;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
        margin: 0 auto;
        white-space: normal;
    }
}