.header__links-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 0.3em;
    width: 3.3em;
    list-style-type: none;
}

@media screen and (max-width: 424px) {

    .header__links-list {
        font-size: 18px;
        line-height: 20px;
        padding: 0 0 0.3em;
        width: 3.3em;
    }

}