.header__links-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 0.3em;
    width: 3.3em;
    list-style-type: none;
}

@media screen and (min-width: 425px) {
    .header__links-list {
        font-size: 24px;
        line-height: 28px;
    }
}