.lead__title {
    margin: 0 auto 16px;
    text-align: center;
    white-space: pre-line;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
}

@media screen and (min-width: 425px) {
    .lead__title {
        font-size: 56px;
        line-height: 60px;
    }
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin-bottom: 32px;
        font-size: 96px;
        line-height: 100px;
    }
}