.lead__image {
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    background-image: url('../../../images/lead-polka.jpg');
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 1023px) {
    .lead__image {
        position: relative;
        left: -24px;
        width: calc(100% + 48px);
        height: 0;
        padding-bottom: calc((100% + 48px) * 0.625);
    }
}

@media screen and (max-width: 767px) {
    .lead__image{
        position: relative;
        left: -16px;
        width: calc(100% + 32px);
        height: 0;
        padding-bottom: calc((100% + 32px) * 0.625);
    }
}