.cover {
    margin-top: 66px;
    width: 100%;
    padding-top: 62.5%;
    background-image: url('../../images/cover-trains.jpg');
    background-size: contain;
    position: relative;
    z-index: 1;
}

.cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2c2f;
    z-index: -1;
    opacity: 0.3;
}

.cover:hover::after {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        width: calc(100% - 96px);
        padding-top: calc((100% - 96px) * 0.625);
        margin-left: auto;
        margin-right: auto;
    }
}